.App {
  margin: auto;
  width: 400px;
}

.header {
  padding-top: 20px;
  font-size: 30px;
}

.input {
  margin: 15px 0;
  padding: 0 10px;
  width: 400px;
  height: 50px;
  font-size: 28px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.repo {
  padding: 15px;
  width: 400px;
  margin-bottom: 15px;
}

.repo-name {
  display: block;
  font-size: 24px;
  color: #262626;
  transition: .3s all;
}

.repo-name:hover {
  color: #656565;
}

.repo-info {
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
}

.loading {
  color: #888888;
  text-align: center;
  padding: 5px 0;
  height: 60px
}

.error {
  text-align: center;
  color: #f95a5a;
  height: 60px
}